* {
  margin: 0;
  padding: 0;
}
.fondo {
  background-color: #434749;
  background-size: 100vw 100vh;
  background-attachment: fixed;
  margin: 0;
}
ul,
ol {
  list-style: none;
  padding: 5px 0;
}

.header-text {
  background-color: #434749;

  font-weight: 600;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  margin: 0%;
  padding: 0%;
  padding-right: 20%;
  padding-left: 20%;
  border-style: solid;
  font-size: 150%;
}

a {
  text-decoration: none;
  color: #fbbe00;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  color: whitesmoke;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.contenido-principal {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.main-text {
  background-color: #fbbe00;
  font-style: italic;
  font-size: 30px;
  text-align: center;
  justify-content: center;
  padding: 5%;
}

.enjoy {
  text-align: center;
  color: rgba(0, 0, 0, 0.507);
  font-weight: 900;
  padding: 5%;
  font-size: 400%;
  border-style: solid;
}

.fotos {
  display: flex;
  font-weight: 600;
}
.nosotros-texto {
  text-align: center;
}

.titulo-sucursales {
  background-color: #fbbe00;
  color: white;
  text-align: center;
  padding: 2%;
  font-size: 40px;
  font-weight: 600;
}

.text-sucursales {
  text-align: center;
  color: #fbbe00;
  margin: 3%;
  justify-content: space-between;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.mapa {
  text-align: center;
}
.titulo-contacto {
  color: #fbbe00;
  text-align: center;
  margin: 0;
  font-size: 30px;
  margin-bottom: 20px;
}

.contacto-texto {
  width: 450px;
  margin: auto;
  background: #fbbc0060;
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 7px;
}
.input,
textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  text-align: center;
}
.carousel-inner {
  background-size: 70vw 70vh;
}

@media screen {
  max-width: 800px;
}
